@use "../global" as *;

html {
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  font-size: 16px;

  @include mq("md") {
    font-size: vw(strip-unit($inner), 16);
  }

  @media (min-width: $inner) {
    font-size: 16px;
  }

  overflow-x: clip;
}

body {
  overflow-x: clip;
}

a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
