@use "../global" as *;

.c-section-title {
  color: #262626;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.6;
  font-size: rem(19);
  @include mq(md) {
    font-size: rem(35);
  }
}
.c-section-title span {
  font-size: rem(28);
  display: block;
  @include mq(md) {
    display: inline-block;
    font-size: rem(45);
  }
}
