@use "../global" as *;

.drawer-menu {
  position: fixed;
  top: -100%;
  width: 100%;
  background-color: #000;
  z-index: 99;
  transition: top 0.3s ease;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .drawer-menu {
    display: none;
  }
}

.drawer-menu.open {
  top: 0;
}

.drawer-menu__nav {
  padding: rem(100) rem(20) rem(40);
}

.drawer-menu__lists {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.drawer-menu__list {
  border-bottom: 1px solid rgba(#fff, 0.2);
  padding-bottom: rem(20);
  text-align: center;
}

.drawer-menu__list:last-child {
  border-bottom: none;
}

.drawer-menu__link {
  color: #fff;
  text-decoration: none;
  font-size: rem(16);
  display: inline-block;
}

/* .drawer-menu__link--flip {
  perspective: 1000px;
} */

.drawer-menu__link-text {
  display: block;
  position: relative;
/*   transform-style: preserve-3d; */
  transition: transform 0.6s;
  height: 1.2em;
}

/* .drawer-menu__link--flip:hover .drawer-menu__link-text {
  transform: rotateX(360deg);
}
 */
.drawer-menu__link-en,
.drawer-menu__link-ja {
  display: block;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .drawer-menu__link-en {
  transform: rotateX(0deg);
}

.drawer-menu__link-ja {
  transform: rotateX(-180deg);
} */

.drawer-menu__btn-wrapper {
  margin-top: rem(40);
}

.drawer-menu__btn {
  display: block;
  width: 100%;
  padding: rem(15) rem(20);
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: rem(14);
  border-radius: rem(4);
  text-align: center;
  transition: opacity 0.3s;
}

.drawer-menu__btn:hover {
  opacity: 0.8;
}

html.is-fixed {
  overflow: hidden;
}
