@use "../global" as *;

.p-flow {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(64);
    padding-bottom: rem(64);
  }
}

.p-flow__content {
}

.p-flow__top-text {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-flow__text-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-flow__text {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: calc(35 / 16);
}

.p-flow__lists {
  display: grid;
  gap: rem(17);
  grid-template-columns: repeat(3, 1fr);
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(72);
    grid-template-columns: repeat(6, 1fr);
  }
}

.p-flow__list {
}

.p-flow__img {
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}
.p-flow__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__block-wrapper {
  margin-top: rem(29);
  @include mq(md) {
    margin-top: rem(90);
  }
}

.p-flow__block + .p-flow__block {
  margin-top: rem(48);
}

.p-flow__block-text {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.bg-orange {
  background: #fdfaf0;
}

.p-flow__position-img {
  margin-top: rem(48);
  max-width: rem(648);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.p-flow__position-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__target {
  background: #fdfaf0;
  margin-top: rem(24);
  padding: rem(16);
  @include mq(md) {
    padding: rem(40);
    margin-top: rem(40);
  }
}
.p-flow__target-title {
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(23);
  }
}
.mt14 {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(14);
  }
}
.mt28 {
  margin-top: rem(28);
}
.p-flow__bottom-text {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(48);
  }
}
.p-flow__row {
  @include mq(md) {
    display: flex;
    gap: rem(55);
    margin-top: rem(40);
  }
}
.p-flow__point-img {
  max-width: rem(270);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(350);
    margin-right: initial;
  }
}
.p-flow__point-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__block-boldTitle {
  margin-top: rem(56);
  font-size: rem(21);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}

.p-flow__block-lists {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-flow__block-list {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: calc(35 / 16);
  color: #262626;
}
.p-flow__block-list span {
  font-size: rem(10);
}
.p-flow__block-list + .p-flow__block-list {
  margin-top: rem(24);
}
.lh24 + .lh24 {
  margin-top: initial;
}
.p-flow__block-numberLists {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: rem(24);
  gap: rem(24);
  @include mq(md) {
    max-width: rem(640);
    margin-top: rem(48);
    gap: rem(100);
  }
}

.p-flow__block-numberList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.p-flow__block-numberImg {
  aspect-ratio: 106 / 93; /* アスペクト比を固定 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @include mq(md){
    width: rem(150);
  }
}
.w120 {
  @include mq(md){
    width: rem(120);
  }
}

.p-flow__block-numberImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.p-flow__block-numberText {
  color: #262626;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: auto;
  text-align: center;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(17);
  }
}
.mt60 {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(60);
  }
}
.mt44 {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(44);
  }
}
.mt12 {
  margin-top: rem(12);
}
.mt24 {
  margin-top: rem(24);
}
.lh24 {
  line-height: calc(35 / 16);
}
.pl20 {
  padding-left: rem(20);
}
.p-flow__box-title {
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding: rem(4) rem(16);
  background: #262626;
  display: inline-block;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(21);
  }
}
.p-flow__map {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(64);
  }
}
.p-flow__map img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: rem(40);
  gap: rem(24);
  @include mq(md) {
    gap: rem(72);
    margin-top: rem(93);
  }
}

.p-flow__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  background: #262626;
  border-radius: 9999px;
  height: rem(50);
  position: relative;
  width: rem(260);
  @include mq(md) {
    width: rem(320);
  }
}
.p-flow__btn-text {
  font-size: rem(13);
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 500;
}

.p-flow__svg {
  width: rem(7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(12);
  @include mq(md) {
    right: rem(20);
  }
}
.p-flow__svg svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

