@use "../global" as *;

.p-flow {
  padding-top: rem(64);
  padding-bottom: rem(64);
}

.p-flow__content {
}

.p-flow__top-text {
  margin-top: rem(40);
}

.p-flow__text {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: calc(35 / 16);
}

.p-flow__lists {
  display: grid;
  gap: rem(17);
  grid-template-columns: repeat(3, 1fr);
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(72);
    grid-template-columns: repeat(6, 1fr);
  }
}

.p-flow__list {
}

.p-flow__img {
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}
.p-flow__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__block-wrapper {
  margin-top: rem(90);
}

.p-flow__block + .p-flow__block {
  margin-top: rem(48);
}

.p-flow__block-text {
  margin-top: rem(24);
}

.bg-orange {
  background: #fdfaf0;
}

.p-flow__position-img {
  margin-top: rem(48);
  max-width: rem(648);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.p-flow__position-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__target {
  background: #fdfaf0;
  padding: rem(40);
  margin-top: rem(40);
}
.p-flow__target-title {
  font-size: rem(23);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}
.mt14 {
  margin-top: rem(14);
}
.mt28 {
  margin-top: rem(28);
}
.p-flow__bottom-text {
  margin-top: rem(48);
}
.p-flow__row {
  display: flex;
  gap: rem(55);
  margin-top: rem(40);
}
.p-flow__point-img {
  max-width: rem(350);
  width: 100%;
  margin-left: auto;
}
.p-flow__point-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__block-boldTitle {
  margin-top: rem(56);
  font-size: rem(21);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}

.p-flow__block-lists {
  margin-top: rem(32);
}

.p-flow__block-list {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: calc(35 / 16);
  color: #262626;
}
.p-flow__block-list span {
  font-size: rem(10);
}
.p-flow__block-list + .p-flow__block-list {
  margin-top: rem(24);
}
.lh24 + .lh24 {
  margin-top: initial;
}
.p-flow__block-numberLists {
  max-width: rem(640);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(48);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: rem(100);
}

.p-flow__block-numberList {
}

.p-flow__block-numberImg {
}
.p-flow__block-numberImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__block-numberText {
  font-size: rem(17);
  color: #262626;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: rem(12);
  text-align: center;
}
.mt60 {
  margin-top: rem(60);
}
.mt44 {
  margin-top: rem(44);
}
.mt12 {
  margin-top: rem(12);
}
.mt24 {
  margin-top: rem(24);
}
.lh24 {
  line-height: calc(35 / 16);
}
.pl20 {
  padding-left: rem(20);
}
.p-flow__box-title {
  color: #fff;
  font-size: rem(21);
  letter-spacing: 0.05em;
  font-weight: 600;
  padding: rem(4) rem(16);
  background: #262626;
  display: inline-block;
}
.p-flow__map {
  margin-top: rem(64);
}
.p-flow__map img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__btn-wrapper {
  margin-top: rem(93);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: rem(72);
}

.p-flow__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  background: #262626;
  border-radius: 9999px;
  width: rem(320);
  height: rem(50);
  position: relative;
}
.p-flow__btn-text {
  font-size: rem(13);
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 500;
}

.p-flow__svg {
  width: rem(7);
  position: absolute;
  top: 50%;
  right: rem(20);
  transform: translateY(-50%);
}
.p-flow__svg svg{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
