@use "../global" as *;

.p-flow {
  padding-top: rem(64);
  padding-bottom: rem(64);
}

.p-flow__content {
}

.p-flow__top-text {
  margin-top: rem(40);
}

.p-flow__text {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: calc(35 / 16);
}

.p-flow__lists {
  display: grid;
  gap: rem(17);
  grid-template-columns: repeat(3, 1fr);
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(72);
    grid-template-columns: repeat(6, 1fr);
  }
}

.p-flow__list {
}

.p-flow__img {
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}
.p-flow__img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__block-wrapper {
  margin-top: rem(90);
}

.p-flow__block + .p-flow__block {
  margin-top: rem(48);
}


.p-flow__block-text {
  margin-top: rem(24);
}

.bg-orange {
  background: #FDFAF0;
}

.p-flow__position-img {
  margin-top: rem(48);
  max-width: rem(648);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.p-flow__position-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__target {
  background: #FDFAF0;
  padding: rem(40);
  margin-top: rem(40);
}
.p-flow__target-title {
  font-size: rem(23);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}
.mt28 {
  margin-top: rem(28);
}
.p-flow__bottom-text {
  margin-top: rem(48);
}
