@use "../global" as *;

.p-guess {
  background: #fdfaf0;
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(48);
    padding-bottom: rem(48);
  }
}

.p-guess__content {
  @include mq(md) {
    display: flex;
    gap: rem(100);
    align-items: center;
  }
}

.p-guess__left {
}

.p-guess__left-titleWrapper {
  text-align: center;
}

.p-guess__left-title {
  font-size: rem(23);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}

.p-guess__lists {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-guess__list {
}

.p-guess__link {
  font-weight: 500;
  line-height: calc(52 / 20);
  color: #262626;
  font-size: rem(15);
  letter-spacing: 0.01em;
  @include mq(md) {
    letter-spacing: 0.03em;
    font-size: min(rem(20), calc(20 / 1440) * 100vw);
  }
}
.p-guess__link span {
  color: #fc7935;
}
.p-guess__img {
  max-width: rem(180);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: rem(24);
  @include mq(md){
    margin-left: initial;
    margin-right: initial;
    max-width: rem(369);
    margin-top: rem(64);
    
  }
}
.p-guess__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
