@use "../global" as *;

.p-header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: transform 0.3s ease;
  height: rem(54);
  @include mq(md) {
    height: rem(100);
  }
}

.p-header.is-hidden {
  transform: translateY(-100%);
}

.p-header__inner {
  height: 100%;
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-right: initial;
  }
}

.p-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.p-header__logo {
}

.p-header__home {
  display: inline-block;
  width: rem(110);
  @include mq(md) {
    width: rem(142);
  }
}
.p-header__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__home-text {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: rem(10);
  @include mq(md) {
    font-size: rem(12);
  }
}
.p-header__nav {
  display: none;
  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: rem(48);
  }
}

.p-header__lists {
  display: flex;
  align-items: center;
}

.p-header__list {
  position: relative;
  text-align: center;
  @include mq(md) {
    width: min(rem(110), calc(110 / 1440) * 100vw);
  }
}

.p-header__link {
  font-family: $second-font-family;
  color: #fff;
  text-decoration: none;
  font-size: min(rem(18), calc(18 / 1440) * 100vw);
  transition: opacity 0.3s;
  letter-spacing: 0.05em;
}

.p-header__link:hover {
  opacity: 0.7;
}

.p-header__link--mega {
  cursor: pointer;
}

.p-header__mega-lists {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  min-width: rem(270);
  padding: rem(10) 0;
  margin-top: rem(10);
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.p-header__list:hover .p-header__mega-lists {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.p-header__mega-list {
  padding: min(rem(8), calc(8 / 1440) * 100vw)
    min(rem(20), calc(20 / 1440) * 100vw);
}

.p-header__mega-link {
  color: #fff;
  text-decoration: none;
  font-size: min(rem(14), calc(14 / 1440) * 100vw);
  transition: opacity 0.3s;
}

.p-header__mega-link:hover {
  opacity: 0.7;
}

.p-header__btn-wrapper {
  display: none;
  @include mq(md) {
    display: block;
    height: inherit;
  }
}

.p-header__btn {
  padding: rem(10) rem(20);
  background: #ff4e00;
  color: #fff;
  text-decoration: none;
  font-size: min(rem(22), calc(22 / 1440) * 100vw);
  transition: opacity 0.3s;
  font-weight: 700;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(rem(343), calc(343 / 1440) * 100vw);
}

.p-header__btn:hover {
  opacity: 0.8;
}

.p-header__hamburger {
  display: block;
  width: rem(22);
  height: rem(16);
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 101;
  padding: 0;
  @include mq(md) {
    display: none;
  }
}

.p-header__hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.p-header__hamburger span:nth-child(1) {
  top: 0;
}

.p-header__hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.p-header__hamburger span:nth-child(3) {
  bottom: 0;
}

.p-header__hamburger.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.p-header__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.p-header__hamburger.open span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.p-header__link-text {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: min(rem(40), calc(40 / 1440) * 100vw);
  width: 100%;
}
.p-header__link-en {
  font-family: $second-font-family;
  transition: transform 0.3s;
  position: relative;
  display: block;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: min(rem(18), calc(18 / 1440) * 100vw);
  text-align: center;
  width: 100%;
  transform: translateY(16px);
}
.p-header__link--flip:hover .p-header__link-en {
  transform: translateY(-16px);
}
.p-header__link-ja {
  font-size: min(rem(16), calc(16 / 1440) * 100vw);
  text-align: center;
  color: #fff;
  position: relative;
  transform: translateY(16px);
  transition: transform 0.3s;
}
.p-header__link--flip:hover .p-header__link-ja {
  transform: translateY(-16px);
}
