@use "../global" as *;

.p-mv {
  padding-top: rem(98);
}

.p-mv__img {
}
.p-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 750 / 750;
  @include mq(md) {
    aspect-ratio: 1400 / 634;
  }
}
