@use "../global" as *;

.p-people {
  padding-top: rem(42);
  padding-bottom: rem(64);
  background: #fdfaf0;
}

.l-people-inner {
  max-width: rem(1140);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(25);
  padding-right: rem(25);
}

.p-people__content {
}

.p-people__title-wrapper {
}

.p-people__title {
  padding-left: rem(20);
  font-size: rem(23);
  letter-spacing: 0.05em;
  color: #262626;
  font-weight: 600;
}

.p-people__grid {
  margin-top: rem(16);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(24);
  height: 100%;
}

.p-people__grid-item {
}

.p-people__grid-link {
  background: #fff;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.16));
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-people__grid-img {
}
.p-people__grid-img img {
  aspect-ratio: 345 / 205;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-people__grid-text {
  padding-top: rem(20);
  padding-bottom: rem(32);
  padding-inline: rem(8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.p-people__grid-kind {
  font-size: rem(13);
  line-height: calc(23 / 13);
  color: #262626;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
}

.p-people__grid-text-text {
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #262626;
  text-align: center;
  margin-top: rem(24);
}

.p-people__grid-text-title {
  font-size: rem(17);
  color: #262626;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: rem(10);
  margin-bottom: rem(32);
}
.p-people__this {
  margin-top: auto;
  text-align: center;
  font-size: rem(13);
  letter-spacing: 0.05em;
  color: #262626;
  font-weight: 500;
}
.p-people__more {
  margin-top: rem(72);
}

.p-people__more-row {
  display: flex;
  max-width: rem(783);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-people__more-left {
  max-width: rem(352);
  width: 100%;
}
.p-people__more-left video {
  aspect-ratio: 352 / 205;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: rem(15);
  border-bottom-left-radius: rem(15);
}

.p-people__more-right {
  max-width: rem(431);
  width: 100%;
  padding-top: rem(26);
  padding-left: rem(40);
  padding-right: rem(40);
  background: linear-gradient(to right, #f8b929, #fd762f);
  border-top-right-radius: rem(15);
  border-bottom-right-radius: rem(15);
}

.p-people__more-text-title {
  color: #fff;
  font-weight: 600;
  font-size: rem(23);
  letter-spacing: 0.05em;
  text-align: center;
}

.p-people__more-text-text {
  margin-top: rem(14);
  color: #fff;
  line-height: calc(30 / 16);
  font-size: rem(16);
  font-weight: 500;
  letter-spacing: 0.05em;
}
.p-people__more-link {
  text-align: center;
  font-size: rem(16);
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: rem(18);
  padding-top: rem(8);
  padding-bottom: rem(8);
  background: #262626;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(316);
  margin-left: auto;
}
