@use "../global" as *;

.p-people {
  padding-top: rem(42);
  padding-bottom: rem(64);
  background: #fdfaf0;
}

.l-people-inner {
  max-width: rem(1090);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-people__content {
}

.p-people__title-wrapper {
}

.p-people__title {
  padding-left: rem(20);
  font-size: rem(23);
  letter-spacing: 0.05em;
  color: #262626;
  font-weight: 600;
}

.p-people__grid {
  margin-top: rem(16);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(24);
  height: 100%;
}

.p-people__grid-item {
}

.p-people__grid-link {
  background: #fff;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.16));
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-people__grid-img {
}
.p-people__grid-img img {
  aspect-ratio: 345 / 205;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-people__grid-text {
  padding-top: rem(20);
  padding-bottom: rem(32);
  padding-inline: rem(8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.p-people__grid-kind {
  font-size: rem(13);
  line-height: calc(23 / 13);
  color: #262626;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
}

.p-people__grid-text-text {
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #262626;
  text-align: center;
  margin-top: rem(24);
}

.p-people__grid-text-title {
  font-size: rem(17);
  color: #262626;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: rem(10);
  margin-bottom: rem(32);
}
.p-people__this {
  margin-top: auto;
  text-align: center;
  font-size: rem(13);
  letter-spacing: 0.05em;
  color: #262626;
  font-weight: 500;
}
